@model IEnumerable<ReviewSystem.ViewModel.ArticleViewModel>
@{
    ViewBag.Title = "Index";
    int serialNo = 1;
}

<h2>Index</h2>
<br />
<br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Serial No</th>
            <th>Article Name</th>
            <th>Article Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>@(serialNo++)</td>
                <td>@data.ArticleName</td>
                <td>@data.ArticleDescription</td>
                <td>@Html.ActionLink("Add/ViewComment","ShowComment", new {articleId=data.ArticleId})</td>
            </tr>
        }

    </tbody>
</table>
